<h2>Plan du site</h2>

<div class="columns alpha three">
  <h3>Lunettes</h3>
</div>

<div class="columns three">
  <h3>Tendances</h3>
</div>

<div class="columns three">
  <h3>Bon plans</h3>
</div>

<div class="columns three">
  <h3>Nos Opticiens</h3>
</div>

<div class="columns three omega">
  <h3>Aide</h3>
</div>
