<% if product != false %>
<span id="mini-choice">
  <div id="img-pic">
      <%= small_image(product, :width => 100) %>
  </div>
  <div id="name">
    <%= product.name %>
    <%= product.price %> €
    <div id="access-btn">
      Accéder à l'univers
    </div>
  </div>
</span>
<% end %>
