<% content_for :sidebar do %>
  <ul id="sidebar-left-content">
    
    <li>
      <a href="/mentions" title="Mentions légales">
	Mention légales
      </a>
    </li>

    <li>
      <a href="/contact" title="Contact">
	Contact
      </a>
    </li>

    <li>
      <a href="/conditions-generales" title="Conditions générales de vente">
	Conditions générales de ventes
      </a>
    </li>

    <li>
      <a href="/a-propos" title="À propos">
	À propos
      </a>
    </li>

  </ul>
<% end %>
