<% content_for :sidebar do %>
  <ul id="sidebar-left-content">

    <hr/>
    <h3>À propos du site</h3>
    <br/>

    <li>
      <a href="/ecart-pupillaire" title="Mesurer l'ecart pupilaire">
	Mesurer l'ecat pupilaire
      </a>
    </li>

    <hr/>
    
    <h3>Informations générales</h3>
    <br/>
    <li>
      <a href="/mentions" title="Mentions légales">
	Mention légales
      </a>
    </li>

    <li>
      <a href="/contact" title="Contact">
	Contact
      </a>
    </li>

    <li>
      <a href="/conditions-generales" title="Conditions générales de vente">
	Conditions générales de ventes
      </a>
    </li>

    <li>
      <a href="/a-propos" title="À propos">
	À propos
      </a>
    </li>

  </ul>
<% end %>
