
<center style="font-size : 15px;">
  <br/>
  <h1>À propos</h1>
  <br/>
  <br/>

    <div>
      <%= image_tag 'logo-450.png' %>
    </div>
    <br/>
  <p>    
    L'équipe Beliview.fr se compose de 6 membres...
  </p>
</center>
