<%= render :partial => 'sidebar' %>

<h1>Conditions générales de vente</h1>
<br/>
<h3>1.     Mentions légales et champ d’application</h3>

Le présent site est édité par la société Beliview, SAS au capital de 5000 €, immatriculée au registre du commerce et des sociétés de Le Plessis Robinson sous le numéro B XXXXX, et dont le siège social est sis xx.
L’éditeur est joignable par téléphone au 06XXXXXXXX ou par courrier électronique à l’adresse suivante : bely.view@gmail.com

N° de TVA intracommunautaire : XXXX. 

Le présent site est hébergé par Online dont le siège social est établi xxxx et joignable par téléphone au numéro suivant : xxx. 

Les fonctions de directeur de la publication du présent site et de responsable de sa rédaction sont exercées par monsieur Sacha BOSTONI,

Le présent site est d’accès libre et gratuit à tout internaute. Il a pour objet la vente en ligne de lunettes de vue ou solaires aux personnes physiques non commerçantes.

<h3>2.     Acceptation des conditions générales</h3>

La souscription à un contrat régi par les présentes conditions générales, avec l’éditeur du présent site suppose l’acceptation, par l’internaute, des présentes conditions générales. L'internaute reconnaît du même fait en avoir pris pleinement connaissance. Cette acceptation consistera dans le fait, pour l’internaute, de cocher la case correspondant à la phrase suivante : « je reconnais avoir lu et accepté les conditions générales de vente et d’utilisation du site. »

Ce fait de cocher la case sera réputé avoir la même valeur qu’une signature manuscrite de la part de l’internaute. L’internaute reconnaît la valeur de preuve des systèmes d’enregistrement automatique de l’éditeur du présent site et, sauf pour lui d’apporter preuve contraire, il renonce à les contester en cas de litige.

L’acceptation des présentes conditions générales suppose de la part des internautes qu’ils soient majeurs et jouissent de la capacité juridique nécessaire pour cela, ou à défaut qu'ils en aient l’autorisation d’un tuteur ou d’un curateur s’ils sont incapables.

LA VENTE DE LUNETTES CORRECTRICES AUX MINEURS DE 16 ANS EST INTERDITE A DEFAUT DE PRESCRIPTION MEDICALE

<h3>3.     Modification des conditions générales</h3>

Les présentes conditions générales peuvent être modifiées à tout moment par l’éditeur du site ou son mandataire. Les conditions générales applicables à l’utilisateur sont celles en vigueur au jour de sa commande ou de sa connexion sur le présent site. L’éditeur s’engage bien évidemment à conserver toutes ses anciennes conditions générales et à les faire parvenir à tout utilisateur qui en ferait la demande. 

<h3>4.     Commandes</h3>

La disponibilité des produits est indiquée sur le site, dans la fiche descriptive de chaque article. 

Afin de passer commande, les internautes pourront sélectionner un ou plusieurs objets et les ajouter à leur panier. Le processus de sélection des lunettes de vue se décompose en deux étapes supplémentaires et fera l’objet d’un devis sous forme de récapitulatif :

1° Sélection d’une monture,

2° Choix des verres selon différentes possibilités (verres uni focaux, ve, ils accèderont ensuite à un formulaire d’identification dans lequel ils pourront soit saisir leurs identifiants de connexion s’ils en possèdent déjà, soit s’inscrire sur le site en complétant le formulaire qui leur est présenté, avec les informations personnelles les concernant. 

Dès lors qu’ils seront connectés ou après qu’ils aient parfaitement complété le formulaire, les clients seront invités à contrôler ou modifier leurs coordonnées de facturation et de livraison, à choisir un mode de règlement puis seront invités à effectuer leur paiement en étant redirigés à cet effet sur l’interface de paiement sécurisée. 

Une fois le paiement effectivement reçu par l’éditeur du site, ce dernier s’engage à en accuser réception au client par voie électronique, dans un délai maximal de 24 heures.
De même et dans les mêmes délais, l’éditeur s’engage à adresser au client un courrier électronique récapitulatif de la commande et lui en confirmant le traitement, reprenant en outre toutes les informations relatives à la commande, aux produits commandés, à leur livraison, ainsi qu’aux modalités d’exercice de leur droit de rétractation. 

rres progressifs et verres sans correction), et différentes options  non obligatoires (Anti-rayures, Anti-reflets, Anti-salissures, etc),

3° Renseignement de l’ordonnance médicale (correction, écart pupillaire etc.) selon différentes modalités.

 

Lorsque leur commande sera complète, ils pourront accéder à leur panier en cliquant sur le bouton prévu à cet effet. 

En consultant leur panier, les membres auront la faculté de vérifier le nombre ainsi que la nature des articles qu’ils auront choisi et pourront vérifier leur prix unitaire ainsi que le prix global de la commande. Ils auront la possibilité d’ôter un ou plusieurs objets de leur panier et d’en modifier les options.
Sur ce récapitulatif (devis) seront indiqués tous les articles et services facturés ou offerts au client. Sera en outre indiquée aux clients la faculté dont ils disposent ou non d’exercer leur droit de rétractation ainsi que les délais qui s’y appliquent. 

Si leur commande leur convient et qu’ils souhaitent la valider, les internautes pourront cliquer sur le bouton « commander »
