<%= render :partial => 'sidebar' %>

<h1>Aide</h1>


FAQ
Catégoriser les questions les plus concernées en fonction de procèdure d’achat et produits, etc comme fait Jimmy fairy 
Essai à domicile
Comment commander
Nos conseils mode

FAQ
Catégories de questions 
Ordonnance - Corrections
Ecart Pupillaire - Mesures
Remboursement Sécurité Sociale et Mutuelle
Essai à domicile
Paiement
Livraison
Retours - Echange - Garanties
Autres questions
Montures
Verres
Lunettes de soleil
Lunettes de vue
Nous contacter

Ordonnance - Corrections
Je n'ai pas d'ordonnance, mais je connais ma correction, pouvez-vous me faire des lunettes ?
Oui, mais vous avez besoin d'une ordonnance si vous voulez vous faire rembourser cette paire de lunettes.
Sinon pour pouvoir déterminer votre correction, vous pouvez soit nous envoyer votre ordonnance par mail: serviceclient@beliview.com, soit nous envoyer votre paire de lunettes en courrier. 
Pouvez-vous me faire une nouvelle ordonnance ?
Non, nous ne sommes pas prescripteurs. Pour cela, il faut prendre rendez-vous chez votre ophtalmologiste.


Ecart Pupillaire - Mesures
A quoi sert la mesure de l'écart pupillaire ?
Elle permet de centrer chaque verre par rapport à la pupille pour une vision parfaite.
Lorsque je vais chez l'opticien, il prend toujours une mesure de mes yeux. Comment faites vous ?
Effectivement, il s'agit de l'écart pupillaire. Pour le mesurer, voici quelques méthodes :   
- Reprenez votre ancienne facture de lunettes optiques faites chez un opticien. Vous y trouverez les mentions « Ec » ou « EP » pour chaque œil, exprimé en mm (un chiffre entre 20 et 40). Si vous ne trouvez pas cette information, n'hésitez pas à nous envoyer l'ancienne facture par mail, fax ou par courrier.
- Avec l'aide d'un ami, prenez vos mesures vous-même. Votre ami doit placer une règle au-dessus de vos yeux en plaçant la mesure 10 cm au milieu de votre nez pour faciliter la prise de mesure. Pour la mesure du demi écart pupillaire droit (1/2 EPD) : Face à face, vous fixez l'oeil gauche de votre ami pendant que votre ami mesure la distance entre votre pupille droite et le milieu de votre nez. Pour mesurer le demi écart pupillaire gauche (1/2 EPG) : Face à face, vous fixez l'oeil droit de votre ami. Votre ami mesure la distance entre votre pupille gauche et le milieu de votre nez.
- Vous pouvez demander à un opticien qui prendra cette mesure gratuitement, en quelques secondes.
- Envoyez-nous une photo de vous par email avec une règle posée sur votre front. Attention de bien positionner le centre de la règle au milieu de votre front. Vous devez positionner votre appareil photo ou webcam au moins 2 mètres devant vous pour prendre la photo. Assurez-vous après avoir pris la photo que l’on puisse voir avec précision tous les mm de la règle située sur votre front quand vous regardez la photo sur votre ordinateur.
- Si vous avez choisi d'essayer des paires de lunettes à domicile, vous pouvez nous joindre votre ancienne paire en nous retournant les montures d'essai. Un opticien reprendra les mesures sur votre ancien équipement.
En cas de problème, n'hésitez pas à nous contacter.
Suis-je obligé de vous donner mon écart pupillaire ?
Oui, c'est une mesure dont nous avons absolument besoin pour le centrage des verres.

Remboursement Sécurité Sociale et Mutuelle

Comment puis-je me faire rembourser par la Sécurité Sociale et ma mutuelle ?
Avec votre commande, vous recevez une feuille de soin et la facture correspondante à votre achat. Pour vous faire rembourser, il faut envoyer à la Sécurité Sociale cette feuille de soin, la facture et la photocopie de votre ordonnance datant de moins de 3 ans. La Sécurité Sociale fera alors le lien directement avec votre mutuelle.

Toutefois, nous vous rappelons que pour bénéficier du remboursement de vos lunettes par la Sécurité Sociale, votre ordonnance doit dater de moins de 3 ans et ne pas avoir déjà profité d'un remboursement d'une paire de lunettes durant l'année civile en cours (sauf dans le cas d'un accord avec votre mutuelle).
Comment remplir ma feuille de soin ?
Tout d'abord, vérifiez la date inscrite qui correspond à la date de facturation.
Dans la section PERSONNE RECEVANT LES SOINS ET ASSURÉ, remplissez les informations concernant l'assuré :
- Nom 
- Prénom
- Date de naissance
- Numéro d'immatriculation (numéro de Sécurité Sociale)

Dans la section FOURNISSEUR, remplissez les informations concernant votre ophtalmologiste : 
- son numéro d'identification (identifiant à 9 chiffres, sachant que les 2 premiers correspondent au département où il exerce)
- son nom
- la date de votre ordonnance

Le montant doit être égal au montant de votre équipement (s'il y a plusieurs équipements, le montant doit être égal à votre premier équipement).
N'oubliez pas de signer et d'envoyer cette feuille de soin avec une photocopie de votre ordonnance et la facture de votre achat à votre centre de Sécurité Sociale (CPAM).
Dois-je avancer les frais ?
Oui, Jimmy Fairly ne pratique pas le tiers-payant, il faut donc avancer les frais.
J'ai déjà utilisé mon ordonnance pour me faire rembourser un équipement précédent. Puis-je encore être remboursé par la Sécurité Sociale et ma mutuelle ?
Il n'est pas possible de se faire rembourser deux équipements dans une même année civile. Par contre, si vous ne l'avez pas utilisée au cours de l'année civile en cours et qu'elle date de moins de 3 ans, vous pourrez vous faire rembourser.
Je n'ai pas d'ordonnance, est-ce que je peux me faire rembourser ?
Non. Si vous en avez une, elle doit dater de moins de 3 ans.
Je souhaite des verres teintés, puis-je tout de même me faire rembourser par la Sécurité Sociale et ma mutuelle ?
Oui, à condition que la mention "verres teintés" soit écrite sur votre ordonnance.
