<%= render :partial => 'sidebar' %>

<h1>Mentions légales</h1>
<br/>
<h3>Article 1 - Société éditrice</h3>
<p>BELIVIEW est une société par actions simplifiée (ci-après la « Société ») dont le siège social est situé 44 Rue Saint-Louis en l'Île 75004 Paris, France et enregistrée au Registre du Commerce et des Sociétés sous le numéro  xxx xxx xxxPARIS, SIREN XXX XXX XXX XXXXX.
BELIVIEW est l'éditeur et l’exploitant du site Internet www.beliview.fr dont l'objet est la vente de produits d'optique. Cette activité est exercée dans la stricte application du cadre réglementaire de la profession d'opticien-lunetier. A ce titre, BELIVIEW comporte une équipe composée d'opticiens français diplômés. Cette équipe est à votre disposition sur le site www.beliview.fr</p>

<h3>Article 2 - Généralités</h3>
<p>Les présentes conditions générales de vente définissent les conditions d’achat de produits et services par un internaute sur le site  www.beliview.fr (désigné ci-après le « Site »). Toute commande sur le Site vaut acceptation expresse et sans réserve des présentes conditions générales de vente, sans toutefois que cette acceptation soit conditionnée par une signature manuscrite de la part du client.
Lors de sa commande, le client déclare avoir pris connaissance des présentes conditions générales de vente et accepté les droits et obligations y afférent. Le client déclare qu'il reconnaît qu’il a été informé sur le Site de sa possibilité de communiquer avec un opticien sur, et via le Site.
La Société pourra suspendre une commande, le compte client et résilier ledit compte client en cas de non respect par le client des présentes conditions, sans préjudice de tous dommages et intérêts que pourrait solliciter la Société. La Société se réserve le droit de refuser toute commande d'un client avec lequel existerait un litige relatif à une commande antérieure ou qui présenterait à ses yeux une quelconque forme de risque.</p>

<h3>Article 3 – Identification du client</h3>
<p>En passant une commande sur le Site, le client certifie :
être âgé de plus de 18 ans.
être en possession d'une prescription médicale pour les lunettes équipées de verres correcteurs, et qu'une telle prescription lui a été donnée par un ophtalmologiste dans les trente-six derniers mois pour le compte d'un porteur de plus de 16 ans ou dans les douze mois pour le compte d'un porteur de moins de 16 ans. Cette prescription, sous forme d'ordonnance, devra être transmise à BELIVIEW pour établir la commande. Tant que BELIVIEW n'aura pas reçu l'ordonnance médicale, la livraison sera suspendue.
Seuls des clients, personnes physiques non commerçantes peuvent acquérir sur le Site.
Pour acheter sur le Site, le client doit avoir préalablement créer un compte avec un identifiant et un mot de passe qui lui sont personnels. Toute commande réalisée à l’aide de ces données personnelles est réputée avoir été faite par le Client et l’oblige au règlement de ladite commande. En cas de perte de ces données, le Client doit en avertir immédiatement la Société qui bloquera le compte de l’intéressé. La Société se réserve le droit de supprimer le compte d’un Client négligent.</p>

<h3>Article 4 - Modalités de commande</h3>
<p>Les commandes sont réalisées sur le Site (http://www.beliview.fr) Pour les commandes par Internet :
4.1. Le client garantit qu'il est pleinement habilité à utiliser sa carte bancaire ou le compte PayPal pour le paiement de sa commande et que cette carte bancaire ou ce compte PayPal donne accès à des fonds suffisants pour couvrir tous les coûts résultant de l'acquisition des produits sur le Site.
4.2. Après avoir rempli son panier sur le Site, il est présenté au client un récapitulatif des produits et services sélectionnés sous forme de devis. Le client accepte ce devis conformément aux dispositions légales, en cliquant sur le bouton « Valider ma commande ». La commande ne sera définitive qu'à compter du paiement du prix correspondant sous réserve de la transmission par le client d’une ordonnance en cours de validité et de l’acceptation de sa commande par la Société.
Le fait pour le client de cliquer sur le bouton « valider la commande » constitue une signature électronique qui a, entre BELIVIEW et les clients, la même valeur qu'une signature manuscrite et vaut preuve de l'intégralité de la commande et de l'exigibilité des sommes dues en exécution de ladite commande, ainsi que de l'acceptation pleine et sans réserve de l'intégralité des présentes conditions générales de vente.
Sous réserve des stocks disponibles et de la réception d’une ordonnance en cours de validité, la Société confirmera la commande du client par courrier électronique, puis son expédition par courrier électronique afin que le client puisse suivre son acheminement.
</p>


<h3>Article 5 - Mesures des demi-écarts pupillaires</h3>

<p>Pour que la commande de verres correcteurs soit valide, le client doit transmettre à la Société les corrections indiquées sur la prescription médicale destinée au porteur de lunettes correctrices et également les mesures des demi-écarts pupillaires ou communiquer aux opticiens SENSEE les documents permettant de connaître cette mesure ou de l’effectuer.
Le client peut trouver les mesures des demi-écarts pupillaires :
Lors de la consultation chez un ophtalmologiste.
Auprès du dernier opticien qui a traité son dossier ou parfois sur la carte ou la facture remise par l'opticien avec la mesure des demi-écarts pupillaires (parfois noté EP pour «Ecarts Pupillaires» ou PD pour le terme anglais «Pupillary Distance»).
En utilisant l’outil de mesure des écarts pupillaires sur le Site en suivant les instructions de la rubrique «Vos écarts pupillaires».
En se rendant dans notre magasin SENSEE pour que nos opticiens les mesurent.
En cas de difficulté pour mesurer les demi-écarts pupillaires, le client peut contacter le service client de SENSEE au 0800 940 906.</p>

<h3>Article 6 - Service d'essai à domicile</h3>
<h4>6.1. Offre</h4>
<p>Le Site propose la possibilité d'essayer gratuitement des montures à domicile. Cette offre n'inclut pas les lunettes de soleil. Cette offre est disponible uniquement pour des envois en France métropolitaine. Cette offre permet de recevoir à domicile de 1 à 5 montures au choix du client. Ces montures sont expédiées sans verre correcteur. Cette offre d’essai de montures ne crée pas d’obligation d’achat de lunettes.</p>
<h4>6.2. Modalités et prix</h4>
<p>Un essai à domicile peut comprendre de 1 à 5 montures maximum par expédition à une adresse postale en France métropolitaine. L'essai à domicile est gratuit. Une empreinte par carte bancaire est enregistrée pour valider la commande. Le montant de l’empreinte ne sera pas débité.
La (les) monture(s) expédiée(s) pour un essai à domicile doit(doivent) être renvoyée(s) à la Société dans un délai de 3 jours francs à compter de la date de sa livraison dans le conditionnement d’origine.</p>
<h4>6.3. Processus</h4>
<p>Une fois le choix de monture et le paiement en correspondance réalisé, la Société prépare la commande pour expédition. La ou les montures sont envoyées avec une étiquette pré-affranchie pour le retour sans supplément pour le client. Pour le retour, il suffit de mettre la ou les montures et leur étui(s) dans le colis, puis de coller l’étiquette sur le colis et enfin de déposer le colis dans un bureau de poste.</p>

<h4>6.4. En cas de non retour de la monture</h4>
En cas de non retour de la monture (ou des montures) dans son conditionnement, en cas de retour partiel, et en cas de retour de la monture (ou des montures) dégradée(s), le client s'expose au prélèvement du montant du forfait « monture + verres » indiqué lors de la validation de l’essai à domicile.

<h3>Article 7 – Prix, modalités de règlement et sécurité</h3>
<h4>7.1 Prix</h4>
Tous les prix des produits sont indiqués en euros toutes taxes comprises (€ TTC).
En cas de modification du taux de TVA, le prix sera automatiquement modifié sans autre préavis que la date d'exigibilité du nouveau taux de TVA.
Les frais d'expédition sont offerts pour les envois en France métropolitaine. Pour les commandes hors France métropolitaine, la Société formulera avec le devis une offre de frais d’acheminement soumise à l’acceptation préalable du client.
Les commandes sont payables immédiatement par carte bancaire et par compte PayPal en euros.
Le compte bancaire du client sera débité 48 heures après la date de la commande et celle-ci sera considérée comme effective après confirmation de l'accord des centres de paiement bancaire.
<h4>7.2 Sécurité</h4>
La Société a mis en place une procédure de vérification afin d'empêcher toute utilisation frauduleuse de coordonnées bancaires pour passer une commande sur le site. Dans le cadre de cette vérification, il pourra être demandé au client d'adresser à la Société (par fax, par courrier, par email) une copie recto et verso de sa pièce d'identité (carte nationale d’identité ou passeport) ainsi qu'un justificatif de domicile de moins de 3 mois.
La commande ne pourra être validée et la marchandise expédiée qu'après la vérification des pièces envoyées. La Société remboursera la commande en cas de non réception des documents ou en cas de réception de documents non conformes.
La Société confie la sécurité de ses transactions à BNP PARIBAS. Le Site fait l'objet d'un des systèmes de sécurisation les plus performants à l'heure actuelle. Il a adopté le procédé de cryptage SSL (Secure Socket Layer) afin de protéger le plus efficacement possible toutes les données sensibles liées aux moyens de paiement. La Société n'a jamais accès aux informations confidentielles relatives au moyen de paiement. Seule la Banque BNP PARIBAS dispose des informations confidentielles (numéro de carte, date de validité), qui sont inaccessibles par un tiers.

<h3>Article 8 - Contrôle qualité : 1 engagement de la Société</h3>
8.1. Toutes les paires de lunettes optiques et solaires correctrices (verres et monture) achetées sur le Site sont contrôlées par un opticien diplômé.
8.2. Nous faisons contrôler systématiquement nos montures et nos verres par un laboratoire indépendant. Ainsi nous vérifions que nos lunettes équipées de verres correcteurs et nos lunettes de soleil respectent bien les normes CE.

<h3>Article 9 - Conformité des produits et services, indisponibilité</h3>
9.1. Les renseignements mentionnés sur chaque fiche produit sont ceux communiqués par les fournisseurs auprès desquels les produits ou services ont été acquis.
La Société fera ses meilleurs efforts pour que la représentation photographique des produits ou services sur le Site soit la plus fidèle possible aux produits ou services en eux-mêmes. Toutefois, eu égard au mode de présentation numérique des produits ou services sur le réseau Internet, il est possible que la perception par le client de la représentation photographique des produits ou services ne corresponde pas exactement au produit ou service en lui-même.
Afin d'éviter toute déception, la Société met à disposition des clients trois dispositifs leur permettant de s'assurer de la conformité des produits :
Un dispositif d'essai virtuel est proposé aux clients afin de vérifier avant la commande que le produit lui convient d'un point de vue esthétique.
BELIVIEW propose une offre d'essai physique de montures. Cette offre exclut les lunettes de soleil. Cette offre est disponible uniquement pour des envois en France métropolitaine.  Les articles BELIVIEW sont proposés à la vente et à l’essai à domicile dans la limite des stocks disponibles.
<br/>
9.2. En cas de non-conformité du produit ou service livré au client, ou d'avarie liée au transport, le client pourra retourner le produit à la Société. Les cas rentrant dans ce cadre sont les suivants :
Le colis est endommagé : le client doit refuser le colis lors de sa livraison ou se faire remettre une attestation d'avarie par le transporteur.
Le produit livré est différent de celui qui a été commandé. Par exemple lorsqu'il y a une différence sur le modèle, sur la couleur ou sur la correction.
<br/>
9.3 Dans l'éventualité d'une indisponibilité partielle ou totale des produits ou services après passation de la commande ou dans le cadre d’un service après-vente, le client sera informé par courrier électronique de la livraison d'une commande partielle (le reste de la commande en stock restant ferme et définitif), ou de l'annulation de sa commande.
<br/>
9.4 En application des dispositions de l'article L 121-20-3 du Code de la Consommation, en cas de non-conformité des produits (9.2 ci-dessus) d'indisponibilité du produit ou du service (9.3 ci-dessus), le client dispose alors de la faculté :
Soit d'être livré d'un produit ou service de qualité et de prix équivalent, dans la limite des stocks disponibles. Dans ce cas, le client pourra exercer un droit de rétraction pour les verres correcteurs conformément à l’article 12 ci-après. Dans cette hypothèse les frais de retour seront à la charge de la Société.
Soit d'être remboursé du prix du produit ou service commandé dans les 30 jours suivant sa demande.
Soit d'être remboursé du prix du produit ou service commandé dans les 30 jours suivant sa demande.
Afin de bénéficier du remplacement à l'identique ou du remboursement :
Le client doit impérativement réaliser sa réclamation sous 30 jours maximum à compter de la réception du colis par e-mail à serviceclient@sensee.com ou par pli postal à l'adresse : BELIVIEW- Service Clientèle – 44 Rue Saint-Louis en l'Île 75004 Paris, France . Toute réclamation formulée après ce délai sera rejetée et la Société sera dégagée de toute responsabilité.
Le client doit, dans le même délai, renvoyer la marchandise à l'adresse suivante
<pre>
BELIVIEW- Service Retour
Facture N° (indiquez le numéro correspondant)
44 Rue Saint-Louis en l'Île 75004 Paris, France 
</pre>
Le produit doit être envoyé de la manière suivante: Correctement protégé, dans son emballage d'origine, dans un parfait état de revente (non abîmé, endommagé ou sali) accompagné de tous accessoires éventuels, notices d'emploi et documentations ; accompagné de la facture de vente de façon à permettre à BELIVIEW d'identifier le client (n° de commande, nom, prénom, adresse) et d'effectuer l'avoir / le remboursement correspondant (montant d'achat remboursé, hors frais de port éventuel) ; sans que le produit ou service n'ait manifestement fait l'objet d'un usage durable (au-delà de quelques minutes), c'est-à-dire sous réserve que les produits ne portent pas la marque d'une utilisation prolongée dépassant le temps nécessaire à leur test et soient dans un état permettant leur revente.
Si ces conditions ne sont pas respectées, BELIVIEW se verra dans l’impossibilité de rembourser la marchandise concernée. L'envoi doit être effectué en colis recommandé ou en colis suivi et remboursé par la Société.

<h3>Article 10 - Livraison</h3>
<h4>10.1. Lieu de livraison</h4>
Lors de l'expédition d'une commande, la Société informe le client par e-mail. Le colis comprend un bon de livraison. La Société fera également parvenir, par courrier, au client la facture originale en double exemplaire ainsi que l’ensemble des documents nécessaires au remboursement par les mutuelles.
Les produits ou services seront remis à l’adresse que le client a indiquée au cours du processus de commande.
Toutes les livraisons sont annoncées par courrier électronique à l'adresse électronique indiquée par le client au cours du processus de commande.
Dans le cas d'une expédition partielle, un bon de livraison sera disponible dans le colis récapitulant les produits et/ou services effectivement présents dans celui-ci.
En cas d'absence lors de la livraison au lieu indiqué par le client, un avis de passage est déposé dans la boîte à lettres : le client bénéficie alors d'une mise à disposition du ou des colis dans le bureau de Poste le plus proche pour les produits distribués par Coliposte dans les 10 jours suivant le dépôt de cet avis.
De plus, pour toute commande non réceptionnée à l'adresse indiquée, les frais de réexpédition du colis à la nouvelle adresse transmise resteront à la charge du client, par exemple lorsque le colis n’a pas été réclamé par le client ou lorsque l'adresse de livraison renseignée dans le dossier est incomplète ou non- valide ; entrainant un retour du colis dans les locaux de la Société.
La livraison des lunettes correctrices nécessite la réception préalable par tout moyen (électronique, fax ou papier) d'une ordonnance délivrée par un ophtalmologiste datant de moins de trois ans pour les personnes de plus de 16 ans, ou datant de moins d'un an pour les personnes de moins de 16 ans. La livraison des produits sera suspendue faute de réception par la Société de cette ordonnance.

<h4>10.2. Délai de livraison des lunettes de vue</h4>
Dès réception du paiement et des données nécessaires (ordonnance et demi-écarts pupillaires) pour monter les lunettes, la Société mettra tout en œuvre pour livrer la commande d’une paire de lunettes de vue avec verres correcteurs dans un délai de 15 jours pour une expédition en France métropolitaine et s'engage dans tous les cas à ce que le délai de livraison soit au maximum de 30 jours ouvrés à compter de la commande complète du produit ou service. A réception des données nécessaires, la Société indiquera au client une date estimative de livraison sous réserve des stocks disponibles.
Toute commande ne respectant pas le processus (commande par courrier...) défini est éligible à ne pas être traitée par nos services ou à engendrer un délai de livraison supplémentaire.

<h4>10.3. Délai de livraison des lunettes de soleil</h4>
Pour une commande passée avant 15 heures un jour ouvré, BELIVIEW met tout en œuvre pour expédier la commande le jour même. Au-delà de 15 heures, BELIVIEW met tout en œuvre pour expédier la commande le jour ouvré suivant sous réserve des stocks disponibles.

<h4>10.4. Retard de livraison</h4>
Dans la mesure du possible, et notamment lorsque le retard de livraison est imputable à la Société, le client sera averti par email du retard de sa commande et du délai estimatif de livraison.
En cas contraire, et notamment lorsque le retard de livraison est imputable au transporteur, le client peut contacter le service client de la Société, dont les coordonnées sont indiquées dans la rubrique «Contact » du site Internet.
Le client dispose de la faculté d'annuler sa commande si la livraison de celle-ci n'est pas intervenue au plus tard sept jours ouvrés après la date de livraison indiquée par beliview.fr, sauf si ce retard de livraison est dû à un cas de force majeure au sens de la jurisprudence des tribunaux français.
Dans les 30 jours ouvrés suivant la demande d'annulation par le client, beliview.fr effectuera auprès de sa banque une demande de remboursement du client.

<h4>10.5. Livraison partielle</h4>
Le client sera informé par courrier électronique de la livraison partielle d'une commande. Un second courrier électronique l'informera de la livraison des autres produits et / ou services commandés.

<h4>10.6. Livraison effectuée</h4>
<p>
Chaque livraison est réputée effectuée dès la mise à disposition du produit ou du service auprès du client, notamment par le transporteur, matérialisée par le système de contrôle utilisé par le transporteur, tel que le système de suivi de livraison proposé sur le site Internet de La Poste concernant «Colissimo».
Sans préjudice du délai dont dispose le client au titre de son droit de rétractation défini à l'article 12 ci-avant, il appartient au client de vérifier les expéditions à l'arrivée et de faire toutes réserves et réclamations qui apparaîtraient justifiées, voire de refuser le colis, si celui-ci est susceptible d'avoir été ouvert ou s'il porte des traces manifestes de détérioration. Lesdites réserves et réclamations doivent être adressées au transporteur par lettre recommandée avec accusé de réception dans les trois jours ouvrables suivant la livraison des produits, une copie étant immédiatement adressée à beliview.fr
</p>

<h3>Article 11 –droit de rétractation</h3>

<p>
Pour toute commande de verres correcteurs, le Client dispose d’un droit de rétractation de 7 jours, à compter de la réception des biens, conformément à l’article L 101-20 du code de la consommation, sans avoir à justifier de motifs ni à payer de pénalités, à l’exception des frais de retour en coli suivi garantissant leur retour dans leur état d’origine. Lorsque le délai de rétractation expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu’au premier jour ouvrable suivant.
</p>

<h3>Article 12 - Garanties</h3>
Toute commande effectuée sur le Site respecte les garanties légales telles que prévues par les articles 1641 et suivant du Code civil et les articles L211-4 et suivants du Code de la consommation.
Les lunettes correctrices (lunettes de vue) et les lunettes non correctrices (lunettes de soleil) bénéficient d’une garantie supplémentaire offerte par la Société «satisfait ou remboursé » pendant 30 jours francs à compter de la date de réception du produit.
Tout échange ou remboursement doit au préalable faire l'objet d'une demande de retour écrite. Pour cela, le Client doit contacter la Société par e-mail (serviceclient@beliview.fr) ou par courrier postal dans les 30 jours à compter de la date de réception du produit (cachet de la Poste faisant foi).
fr (mentionnez votre adresse de courrier électronique, nom, prénom, adresse postale). L'e-mail devra comporter l'objet suivant : « Je souhaite modifier/résilier mon compte Beliview» ou par courrier à l'adresse suivante :
<pre>
BELIVIEW -  44 Rue Saint-Louis en l'Île 75004 Paris, France 
</pre>

<h3>Article 13 - Données personnelles</h3>
<p>
Internet www.beliview.fr. Celles-ci sont confidentielles. Elles ne seront utilisées par ses services internes que pour le traitement de la commande du client et pour renforcer et personnaliser la communication notamment par les lettres / courriers électroniques d'information ainsi que dans le cadre de la personnalisation du site Internet en fonction des préférences constatées des clients.
La Société ne vend donc pas, ne commercialise pas, et ne loue pas à des entités extérieures au groupe auquel elle appartient les données nominatives concernant ses clients.
Le client déclare accepter la conservation pendant 5 ans de ses données personnelles de correction visuelles. Celles-ci ne feront en aucun cas l'objet d'une cession ou divulgation à des tiers, si ce n'est sous forme de statistiques agrégées et non personnelles.
Il est laissé la faculté aux clients de s'y opposer en faisant parvenir à la Société un courrier électronique à l'adresse serviceclient@beliview.fr . Conformément à la loi informatique et libertés du 6 janvier 1978, le client peut exercer son droit d'accès au fichier et son droit de rectification ou de suppression pour les renseignements le concernant en envoyant un e-mail à serviceclient@beliview.
</p>

<h3>Article 14 - Droit applicable - Litige</h3>
<p>
Les présentes Conditions Générales de Vente en langue française seront exécutées et interprétées conformément au droit français.
En cas de litige, le client s'adressera préalablement à la Société pour obtenir une solution amiable.
A défaut, les tribunaux français seront seuls compétents.

Version des Conditions Générales de Vente en date du 13/05/2012.
Le produit retourné doit être envoyé en colis recommandé ou suivi et doit comprendre un descriptif écrit de ce qui est souhaité (échange ou remboursement) avec la référence complète de la commande sous peine de voir le traitement de l'opération retardé.
Tous les produits retournés doivent être neufs, non utilisés et dans leur étui d'origine (ainsi que les microfibres et accessoires fournis pour les lunettes de marque) parfaitement intacts.
Concernant un achat de lunettes équipées de verres correcteurs, le colis devra obligatoirement être accompagné de l'original de la feuille de soins (feuille « Cerfa ») et des factures. Le remboursement est applicable sur l'équipement, hors frais de ports éventuels.
Si le client ne fournit pas à la Société une ordonnance médicale de moins de 3 ans, il ne peut pas être remboursé par la Sécurité Sociale, et la garantie « satisfait ou remboursé 30 jours » de  BELIVIEW ne peut pas être appliquée.
Pour un remplacement, les frais de ports de réexpédition sont à la charge du client (tarification Colissimo Suivi sur la France métropolitaine).
Pour un remboursement, une demande est effectuée auprès du service monétique de BNP PARIBAS après constatation par la Société du retour selon le respect du protocole mentionné. Le remboursement sera effectif sur le compte bancaire affilié au paiement CB ou PayPal sous 15 jours après cette demande.
</p>
