<%= render :partial => 'sidebar' %>

<h1>Écarts pupilaire</h1>

<p>
  L’écart pupillaire permet de positionner les verres de la monture par rapport à vos pupilles. La distance pupille (PD) correspond à l’écart entre le milieu de vos deux pupilles mais pour être plus précis nous vous demandons le demi-écart droit (RPD) et le demi-écart gauche (LPD). Ils représentent la distance à partir du milieu du nez. Les écarts pupillaires varient de 25 à 30 mm en fonction de la forme du visage.
 </p>

<center>
  <%= image_tag 'ecarts_pupillaires.jpg' %>
</center>

<h1>Comment mesurer ses écarts pupillaires? Plusieurs méthodes</h1>

    <p>
      <ol>
        <li><strong>Lors de la consultation chez votre optalmologue</strong>, demandez lui de mesurer vos écarts pupillaires. C'est la solution la plus simple et la plus sûre pour connaitre de manière exacte vos écarts pupillaires.</li>
            <li><strong>Les demander auprès du dernier opticien qui a traité votre dossier</strong> ou à un autre opticien.
              Votre opticien habituel n'aura pas de mal à retrouver dans votre dossier client vos écarts pupillaires.
              Les opticiens ont à leur disposition un pupilomètre qui leur permettent de mesurer les écarts pupillaire.</li>
            <li><strong>Nous envoyer une photo avec une feuille A4 blanche placée sous les yeux</strong>.
              Faites attention de placer votre échelle correctement par rapport à vos yeux pour que nous puissons lire les mesures sur votre photo.</li>
            <li><strong>Les mesurer seul</strong>
<ul>
  <li>Il faut dans un premier temps se munir d'un instrument de mesure deRecommencez l'opération pour l'autre œil en fixant cette fois l'œil droit de votre ami.</li>
              <li>Il est préférable de répéter deux ou trois fois les mesures pour vérifier l'exactitude des écarts pupillaires.</li></ul>
          </li></ol> longueur (règle d'école, mètre ruban…) et vérifier que celui-ci est précis si possible au demi millimètre près.</li>
              <li>Placez-vous devant un miroir en plaçant la mesure 10cm au milieu de votre nez.</li>
              <li>Regardez votre pupille droite et mesurer l'écart pupillaire droit puis regardez votre pupille gauche et mesurer l'écart pupillaire gauche.</li>
              <li>Il est préférable de répéter deux ou trois fois les mesures pour vérifier l'exactitude des écarts pupillaires.</li>
            </ul>
            </li><li><strong>Les mesurer avec un ami</strong>
<ul><li>Il faut dans un premier temps se munir d'un instrument de mesure de longueur (règle d'école, mètre ruban…) et vérifier que celui-ci est précis si possible au demi millimètre près.</li>
              <li>Votre ami place le réglet sous vos yeux en plaçant la mesure 10cm au milieu de votre nez pour faciliter la prise de mesure.</li>
              <li>Fixez l'œil gauche de votre ami pendant que celui-ci prend la distance entre le milieu du nez et la pupille droite. Cela permet d'obtenir le demi-écart droit.</li>
              <li>
</p>
